<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 1</b></center>
<h4>Name: Bhadra Mohitkumar Ajay</h4>
<h3>Enrollment: 23010101605</h3>    
<pre>

# Introduction to Pandas Library Function:

# Step-1 Import the pandas Libraries

In [ ]:
import pandas as p1

# Step-2 Import the dataset from this:....

In [4]:
data = ("titanic.csv")

# Step-3 Read csv or excel File

In [ ]:
df = p1.read_csv(data)

# Step-4 Print Data from csv or excel File

In [ ]:
df

# Step-5 See the First 10 Rows

In [ ]:
df.head(10)

# Step-6 See the Last 10 Rows

In [ ]:
df.tail(10)

# Step-7 Data type of each columns

In [ ]:
df.dtypes

# Step-8 Display Summary Information

In [ ]:
df.info()

# Step-9 Access a specific column

In [ ]:
df["Age"]

# Step-10 Access rows by their integer location

In [ ]:
df.iloc[1]

# Step-11 Delete a specific Column

In [ ]:
df1 = df.drop(columns = ["Parch"])
df1

df2 = df.drop(index = 0)
df2

# Step-12  Create a new Column

In [ ]:
df["Fare2"] = "Lab 1.ipynb"
df

# Step-13  Perform Condition Selection on DataFrame

# Step-14 Compute the sum of value

# Step-15 Compute the mean of value

# Step-16 Count non-null value (column)

# Step-17 Find Minimun or Maximum values